<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpdY32OtZsF9y1ai6VibG7w4KIOTimCw0</string>
	<key>GCM_SENDER_ID</key>
	<string>75687481949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saveUp</string>
	<key>PROJECT_ID</key>
	<string>saveup-7670d</string>
	<key>STORAGE_BUCKET</key>
	<string>saveup-7670d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75687481949:ios:c08fa06cb371dcbe93b3b4</string>
</dict>
</plist>